body { /* Solid color */
    background-image: url('20201107_173042[1].jpg');  /* Add an image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: Arial, sans-serif;
}
nav{background-color: black;background: size 20px;}